<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <title>Exercício 1</title>

  <!-- CSS Bootstrap -->
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>
<body class="p-4">

  <h1 class="text-primary">Olá MVC + Express + Bootstrap</h1>

  <!-- JS Bootstrap -->
  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
